.ShowRed {
  border-color: red !important;
}

.navbar__link {
  color: #ffffff !important;
  border-bottom: 3px solid transparent !important;
  transition: color 1s ease-in !important;
  margin-top: 5px;
}

.navbar__link--active {
  color: green !important;
  border-bottom: 3px solid #29b6f6 !important;
  transition: border-bottom 1s ease-in-out !important;
  margin-top: 5px;
}

.CenterText {
  text-align: center;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.CardHeight {
  height: 95%;
  margin: 10px;
  text-align: center;
}

.CardHeight p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.CardFormStyle {
  padding: 10px;
}
.CardTitle {
  border-bottom: 1px solid black;
  text-align: left;
}

.MuiAvatar-root {
  margin: auto;
}

.CardHeight .CardBackground {
  background-color: #f2f2f2;
}

.CardHeight .NewsContentStyle {
  margin-left: 5px;
  margin-top: 5px;
}

.CenterModal {
  position: absolute;
  top: 35%;
  width: 100%;
}

.NewsCardTimeStamp {
  text-align: left;
  font-size: 12px;
  margin-left: 5px;
}

.ErrorPageStyle {
  text-align: center;
}

.HouseSelectStyle {
  width: 100%;
}

.RentSummPap {
  margin: 2px;
}

.PayHistTitle {
  width: 95%;
  margin: auto;
  margin-top: 5px;
}

.ErrorPageStyle {
  text-align: center;
}

.ModalStyle {
  position: absolute;
  top: 25%;
  width: 95%;
  left: 2.5%;
}

.ViewModal {
  color: #707070;
}

.WelcomeBackStyle {
  margin-left: auto;
}
.WelcomeBackStyle2 {
  margin-right: auto;
}

.MuiSnackbarContent-message {
  margin: auto;
}

.MonthRentIconStyle {
  margin-bottom: 5px !important;
}

input,
.StripeElement {
  display: block;
  margin: 10px 0 20px 0;

  padding: 10px 14px;
  font-size: 1em;
  font-family: "Source Code Pro", monospace;
  box-shadow: rgba(50, 50, 93, 0.14902) 0px 1px 3px,
    rgba(0, 0, 0, 0.0196078) 0px 1px 0px;
  border: 0;
  outline: 0;
  border-radius: 4px;
  background: white;
}

input::placeholder {
  color: #aab7c4;
}

.MonthRentIconStyle {
  margin-bottom: -5px;
}

input:focus,
.StripeElement--focus {
  box-shadow: rgba(50, 50, 93, 0.109804) 0px 4px 6px,
    rgba(0, 0, 0, 0.0784314) 0px 1px 3px;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease;
}

.StripeElement.IdealBankElement,
.StripeElement.FpxBankElement,
.StripeElement.PaymentRequestButton {
  padding: 0;
}

.StripeElement.PaymentRequestButton {
  height: 40px;
}

.SpinnerStyle {
  padding-left: 10px;
  height: 100%;
}

.RedText {
  color: red;
}

.GreenText {
  color: green;
}

.PaymentSubmitBtn {
  padding-top: 12px !important;
}

.StyleToolTip {
  font-size: 15px;
}

.DisabledTextfield {
  color: #707070 !important;
}
